<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Doação</title>
</head>
<body>
    <h1>Registrar Doação</h1>
    <form action="/register_donation" method="post">
        <label for="item">Item:</label>
        <input type="text" id="item" name="item"><br><br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade"><br><br>
        <input type="submit" value="Registrar">
    </form>
</body>
</html>
